{% load i18n %}
<style>
    body {
        margin: auto;
        display: block;
        padding: 20px;
        font-family: arial;
        text-align: center;
    }
    form {

        margin: auto;
        border: 1px solid #28A5DA;
        padding: 20px;
        display: inline-block;
        width: 400px;
        background-color: #eee;

    }
    h1 {
        color: #28A5DA;
    }
    ul.errorlist {
        list-style-type: none;
        margin-left: 0px;
    }
</style>
<h1> Scratch 2.0 beta site </h1>
<form id="password-required-login" action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="{% trans "Enter" %}" />
</form>


